<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
      <div>
      	<h1><%= yield(:title) %></h1>
        <nav>
          <ul>
            <li><%= link_to "Home",       'home' %></li>
            <li><%= link_to "Blog Posts", 'blogposts' %></li>
            <li><%= link_to "Teams",      'teams' %></li>
            <li><%= link_to "Players",    'players' %></li>
          </ul>
        </nav>
      </div>
      </br>
    </header>
    <%= yield %>
  </body>
</html>
